img {
  width: 100%;
  height: auto;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container{
  width: 1100px;
  margin: 0px auto;
}
/*--------------------- header--------------------- */

.header {
  position: sticky;
  top: 0;
  height: 70px;
  line-height: 70px;
  background-color: white;
  z-index: 1;
}

.header__logo {
  width: 75px;
  margin-left: 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list {
  display: flex;
}

.header__nav-list li {
  margin-right: 25px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  display: inline-block;
}
.menu{
  display: none;
}

.drawer-nav{
    display: none;
  }

/*--------------------- firstview--------------------- */
.firstview {
  position: relative;
  width: 100%;
  height: 300px;
}

.firstview__eyecatch {
  position: absolute;
}

.firstview__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("../img/mv.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstview__content-eyecatch {
  color: white;
  font-size: 35px;
}

/*---------------------contact--------------------- */
#contact{
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact__contentsall-form{
  font-size: 18px;
  font-weight: bold;
}

.contact__contentsall-form-labelfirst{
  display: inline-block;
  padding-bottom: 10px;
}

.contact__contentsall-form-label{
  display: inline-block;
  padding-bottom: 10px;
}

.contact__contentsall-form-label::after{
  content: " *";
  color: #ff0000;
}

.contact__contentsall-form-input{
  display: inline-block;
  width:100%;
  height: 25px;
  margin-bottom: 20px;
}

.contact__contentsall-form-textarea{
  display: inline-block;
  width:100%;
  margin-bottom: 20px;
}

.contact__btn {
  display: block;
  margin: 10px auto 0;
  width: 300px;
  text-align: center;
  padding: 13px 0;
  background: black;
  color: white;
  transition: 0.4s;
}
/*---------------------footer--------------------- */

.footer {
  text-align: center;
  font-size: 12px;
  padding: 30px 0px;
  background: black;
  color: white;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.footer__nav-list{
  display: flex;
  flex-wrap: wrap;
}

.footer__nav-list li {
  padding:0px 15px
}

.footer__nav-list li+li {
	border-left:1px solid white;
}

.footer__nav a{
  color: white;
}


/*---------------------footer--------------------- */
@media screen and (max-width: 768px) {
.container{
  width: 85%;
}

.header__nav{
    display: none;
  }
.menu{
  display: none;
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}

.drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
    text-align: center;
    padding-bottom: 40px;
  }

  .drawer-nav-list {
    padding-top: 40px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 20px;
    color: #0033cc;
    font-size: 18px;
  }

  .in {
    transform: translateX(100%);
  }

  .flex__service-all{
  width: 100%;
  padding-bottom: 10px;
}
  .blog-wrap__item{
  width: 100%;
  padding-bottom: 10px;
  }

  .footer__copyright{

  }

  .footer__nav-list-link {
    text-align: center;
    width: 100%;
  }

  .footer__nav-list li+li {
	border-left:1px solid black;
}

@media screen and (max-width: 768px){
  .flex__service-contents-all{
    width: 100%;
  }

  .flex__service-img img{
    width: 100%;
  }
}
}

@media screen and (min-width: 1000px) {
.container{
  width: 95%;
}
}
